*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    list-style: none;
    user-select: none;
    text-decoration: none;
}

body{
    width: 100vw;
    height: 100svh;
    background-color: #111522;
}
.grid-container {
    width: 100vw;
    height: 100svh;
    display: grid;
    grid-template-columns: minmax(180px, 200px) 1fr;
    grid-gap: 10px;
    max-width: 1000px;
    margin: auto;
}

main {
    display: grid;
    grid-template-rows: 60px 1fr;
    gap: 10px;
    height: 100svh;
}

main header{
    background-color: #1a1d27;
    color: #f1f1f1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

main header ul{
    display: flex;
    align-items: center;
}

main header ul li{
    padding: 8px 12px;
    cursor: pointer;
    color: #878a97;
    transition: .3s ease;
}
main header ul li:hover{
    color: #e7e9f1;
}
main #bricks {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
    gap: 10px; 
    background-color: #1a1d27;
    padding: 10px;
    overflow-y: scroll;
}
main #bricks::-webkit-scrollbar{
    display: none;
}
.brick{
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #9a2001;
    position: relative;
    border-radius: 12px;
    box-shadow: inset 0px 5px 10px #ff9316,
                inset 0px -5px 10px #420703;
    filter: brightness(80%);
    z-index: 0;
    height: max-content;
    padding: 20px;
    color: #d5a963;
    cursor: pointer;
}
.brick::before{
    content: '';
    position: absolute;
    inset: 16px;
    background-color: #9a2001;
    box-shadow: inset 0px 5px 10px #420703,
                inset 0px -5px 10px #ff9316;
    filter: blur(2px);
    z-index: -1;
}
.brick.active,
.brick:hover{
    color: #ffba4a;
    text-shadow: 0px 0px 2px #ff9316;
    filter: brightness(100%);
}
.brick:hover .icon{
    filter: grayscale(0) brightness(100%);
}
.brick .icon{
    filter: grayscale(0.3) brightness(90%);
}
.brick .sahid-name{
    overflow: hidden;
    text-overflow: ellipsis;
}


/* #ff9316 highlight */
/* #420703 shadow */
