.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* *********************************** */
/* Memorial Css Start */
/* ********************************* */

/* Brick Css Start */



*,
*::before,
*::after {
  box-sizing: border-box;
}

.brick {
  background: #bd5858;
  width: 15%;
  height: 3vw;
  border-radius: 2px;
  margin: 2px;
  box-shadow: 0 0 19px 1px darken(#bd5858, 20%) inset;
}

.row {
  display: flex;
  background: #ccc;
}

.row:first-child .brick {
  margin-top: 4px;
}

.row:last-child .brick {
  margin-bottom: 4px;
}

.row:nth-child(even) .brick:first-child {
  display: none;
}

.row:nth-child(even) .brick:last-child {
  margin-right: 2px;
}

.row:nth-child(even)::before,
.row:nth-child(even)::after {
  position: relative;
  content: "";
  background: #bd5858;
  width: calc(15% / 2);
  height: 3vw;
  border-radius: 2px;
  margin: 2px;
  box-shadow: 0 0 19px 1px darken(#bd5858, 20%) inset;
}

.row:nth-child(even)::before {
  margin-left: 4px;
}

.row:nth-child(even)::after {
  margin-right: 4px;
}

.brick {
  background: #bd5858;
  width: 15%;
  height: 3vw;
  border-radius: 2px;
  margin: 2px;
  box-shadow: 0 0 19px 1px darken(#bd5858, 20%) inset;
}

.brick:last-child {
  margin-right: 4px;
}

.brick:first-child {
  margin-left: 4px;
}

/* Brick Css End */

/* *********************************** */
/* Memorial Css End */
/* ********************************* */


