.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#home{
  background-color: #1a1d27;
  color: white;
}


/* *********************************** */
/* Memorial Css Start */
/* ********************************* */

/* Brick Css Start */



#memorial{
  height: 88vh;
  overflow: hidden;
}

#bricks{
  display: grid;
  grid-auto-rows: 59px;
  grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
  gap: 10px; 
  background-color: #1a1d27;
  padding: 5px;
  overflow-y: scroll;
  height:90vh;
  padding-bottom: 20px;
  box-sizing: border-box;
}
 #bricks::-webkit-scrollbar{
  display: none;
}

.brick{
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #9a2001;
  position: relative;
  border-radius: 10px;
  box-shadow: inset 0px 5px 10px #ff9316,
              inset 0px -5px 10px #420703;
  filter: brightness(80%);
  z-index: 0;
  height: max-content;
  padding: 20px;
  color: #d5a963;
  cursor: pointer;

  color: #ffba4a;
  text-shadow: 0px 0px 2px #ff9316;
  filter: brightness(100%);
}
.brick::before{
  content: '';
  position: absolute;
  inset: 16px;
  background-color: #9a2001;
  box-shadow: inset 0px 5px 10px #420703,
              inset 0px -5px 10px #ff9316;
  filter: blur(2px);
  z-index: -1;
}
.brick.active,
.brick:hover{
  z-index: 1;
  position: relative;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  /* color: #ffba4a;
  text-shadow: 0px 0px 2px #ff9316;
  filter: brightness(100%); */
  transform: rotateY(180deg);

  .icon{
    display: none;
  }
  .sahid-name{
    display: none;
  }
  .sahid-img{
    display: inline;

  }
  .sahid-img::before{
    display: inline;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../public/assets/frame.png');
    background-size: cover; /* Adjust as needed */
    background-position: center; /* Adjust as needed */
    opacity: 0.5; /* Adjust the opacity as needed */
    z-index: -1; /* Ensure the pseudo-element is behind the content */
  }
}

.brick:hover .icon{
  filter: grayscale(0) brightness(100%);
}
.brick .icon{
  filter: grayscale(0.3) brightness(90%);
}
.brick .sahid-name{
  overflow: hidden;
  text-overflow: ellipsis;
}
/* Brick Css End */

/* *********************************** */
/* Memorial Css End */
/* ********************************* */


